@import '../../assets/style.less';

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  color: @white;
  background-color: @layout-header-background;

  &-title {
    font-size: 18px;
  }
}
