/* 通用样式 */

.hide {
  display: none;
}

.show {
  display: block;
}

.z-index-100 {
  z-index: 100;
}

.z-index-200 {
  z-index: 200;
}

.z-index-300 {
  z-index: 300;
}

.z-index-9999 {
  z-index: 100;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.border-shadow {
  box-shadow: 0px 0px 9px rgba(201, 201, 201, 0.3);
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

/********** 常用样式 *********/
